/* ========== General ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 90vw;
  gap: 10px;
}

/* ========== Panel ========== */
.panel {
  background-size: cover 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #f2f2f2;
  cursor: pointer;
  height: 80vh;
  border-radius: 10px;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}
.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* ========== Responsive ========== */
@media (max-width: 480px) {
  .container {
    width: 95vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}