<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Sound Board</title>
</head>

<body>
  <audio id="ps1" src="./sounds/PS1-sound.m4a"></audio>
  <audio id="ps2" src="./sounds/PS2-sound.m4a"></audio>
  <audio id="ps3" src="./sounds/PS3-sound.m4a"></audio>
  <audio id="ps4" src="./sounds/PS4-sound.m4a"></audio>
  <audio id="ps5" src="./sounds/PS5-sound.m4a"></audio>


  <div id="buttons"></div>
  <script src="./js/script.js"></script>
</body>

</html>